<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.1" />
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="Sendgrid" version="1.0.1" targetFramework="net40" />
  <package id="Spring.Rest" version="1.1.0" />
  <package id="Spring.Social.Core" version="1.0.0" />
  <package id="Spring.Social.Dropbox" version="1.1.0" />
</packages>