body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 45px;
}

#top {
    padding-top: 50px;
}

#conversionResult {
    padding-top: 50px;
}

.social-list > li{
    font-size: 1.6rem;
}

.download-list > li {
    font-size: 1.6rem;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.ng-cloak {
    display: none;
}
.alert-success {
    background-color: #85C99E;
}
.alert-danger {
    background-color: #F58370;
}

.alert-warning {
    background-color: #F0B75A;
}

.strava-logo{
    background-color: #FC4C02;
    color: white;
    width: 26px;
    height: 29px;
}

.runkeeper-logo{
    background-color: #1596D2;
    width: 26px;
    height: 29px;
    color: white;
}

.btn-provider{
    border: none;
    padding: 12px 18px;
}

.btn-facebook{
    color:white;
    background-color: #3B5998;
}

.btn-facebook:hover{
    color:white;
    background-color: #8B9DC3;
}

.btn-twitter{
    color:white;
    background-color: #3BCAFF;
}

.btn-twitter:hover{
    color:white;
    background-color: #c0deed;
}

.btn-strava{
    color:white;
    background-color: #FC4C02;
}

.btn-strava:hover{
    color:white;
    background-color: #fd7840;
}


.btn-runkeeper{
    color:white;
    background-color: #1596D2;
}

.btn-runkeeper:hover{
    color:white;
    background-color: #35b1ea;
}

.btn-google{
    color:white;
    background-color: #D34836;
}

.btn-google:hover{
    color:white;
    background-color: #de796c;
}

.btn-dropbox{
    color:white;
    background-color: #3d9ae8;
}

.btn-dropbox:hover{
    color:white;
    background-color: #7ebcef;
}