body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 45px;
}

#top {
    padding-top: 50px;
}

#conversionResult {
    padding-top: 50px;
}

.success-dialogue h3{
	font-weight: 400;
	margin-bottom: 20px;
}

.success-dialogue .btn{
	font-size: 1.6em;
	font-size: 1.6rem;
	text-decoration: none;
}

.alert h4  {
	color: #454545;
}

.alert h4.upgrade-text > a {
	color: #454545;
	font-weight: 400;
}

.download-list{
    color: #454545;
}

.download-list a{
    color: #454545;
}

.download-list a:hover{
    color: #fff;
}

/*.success-dialogue .alert h4 {
	color: #454545;
}*/

.social-list > li > a > i {
	color: #454545;
	font-size: 3.2em;
    font-size: 3.2rem;
}

.social-list > li > a:hover > i {
	color: #fff;
}

.social-list > li > a {
	color: #454545;
	text-decoration: none;
	font-size: 1.4em;
    font-size: 1.4rem;
}

.social-list > li > a:hover {
	color: #fff;
}

.download-list > li {
    font-size: 1.6rem;
}

.navbar-nav > li > a.upgrade-link{
    font-weight: 600;
    font-size: 1.625em;
    font-size: 1.625rem;
}

.navbar-header{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
}

.navbar-nav > li > a{
    line-height: 30px;
    font-size: 1.5em;
    font-size: 1.5rem;
}

.success-dialogue {
	padding: 0 15px;
}
.success-dialogue > div {
	height: 100%;
}

.success-dialogue > div > div:last-child{
	background-color: #008CBA;
	min-height: 330px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

@media (max-width: 767px) {
  .logo {
    margin-left: 15px;
  }
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.ng-cloak {
    display: none;
}
.alert-success {
    background-color: #85C99E;
}
.alert-danger {
    background-color: #F58370;
}

.alert-warning {
    background-color: #F0B75A;
}

.strava-logo{
    background-color: #FC4C02;
    color: white;
    width: 26px;
    height: 29px;
}

.runkeeper-logo{
    background-color: #1596D2;
    width: 26px;
    height: 29px;
    color: white;
}

.btn-provider{
    border: none;
    padding: 12px 18px;
}

.btn-facebook{
    color:white;
    background-color: #3B5998;
}

.btn-facebook:hover{
    color:white;
    background-color: #8B9DC3;
}

.btn-twitter{
    color:white;
    background-color: #3BCAFF;
}

.btn-twitter:hover{
    color:white;
    background-color: #c0deed;
}

.btn-strava{
    color:white;
    background-color: #FC4C02;
}

.btn-strava:hover{
    color:white;
    background-color: #fd7840;
}


.btn-runkeeper{
    color:white;
    background-color: #1596D2;
}

.btn-runkeeper:hover{
    color:white;
    background-color: #35b1ea;
}

.btn-google{
    color:white;
    background-color: #D34836;
}

.btn-google:hover{
    color:white;
    background-color: #de796c;
}

.btn-dropbox{
    color:white;
    background-color: #3d9ae8;
}

.btn-dropbox:hover{
    color:white;
    background-color: #7ebcef;
}