<a class="FlattrButton" href="http://polarconverter.azurewebsites.net" title="PolarConverter" lang="english">
  A site for converting Hrm, Gpx or Xml files from your Polar watch to a format that Endomondo, Strava and others support.
</a>