@{
    ViewBag.Title = "Error";
}

<br/><br/>
<div style="background-color: #eeeeee; width: 40%; padding: 10px; margin-left: 30%; margin-top: 10%; border-radius: 6px">
<h4>Ooops, something went wrong. Please go back to the @Html.ActionLink("page", "Index")</> and try again.</h4>
<p>Usually this is caused by corrupted data in one of your files. You can easilly check them by viewing them in a text reader such as Notepad. If you cannot figure it out, I am glad to help. Just send me your files and a description of what happened to polarconverter@gmail.com.
</p>
    </div>