<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register name="" type="PolarConverter.BLL.Interfaces.IConversion, PolarConverter.BLL" mapTo="PolarConverter.BLL.Services.LocalConversionService, PolarConverter.BLL" />
    <register name="" type="PolarConverter.BLL.Interfaces.IStorageHelper, PolarConverter.BLL" mapTo="PolarConverter.BLL.Services.LocalStorageHelper, PolarConverter.BLL">
    </register>
    <!--<register name="" type="PolarConverter.BLL.Interfaces.IConversion, PolarConverter.BLL" mapTo="PolarConverter.BLL.Services.ConversionService, PolarConverter.BLL" />
    <register name="" type="PolarConverter.BLL.Interfaces.IStorageHelper, PolarConverter.BLL" mapTo="PolarConverter.BLL.Services.BlobStorageHelper, PolarConverter.BLL">
      <constructor>
        <param name="containerName" value="polarfiles"/>
      </constructor>
    </register>-->
  </container>
</unity>