<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=polarconverter;AccountKey=XnzAyltGDnh1xCSU313nINUx3+9UJcSP6OrHup74HFCTmQ8pqkP41YNOpnvhc4AC8brEUQgWbBu8dwe43dF50A==" />
    <add name="AzureJobsRuntime" connectionString="DefaultEndpointsProtocol=https;AccountName=polarconverter;AccountKey=XnzAyltGDnh1xCSU313nINUx3+9UJcSP6OrHup74HFCTmQ8pqkP41YNOpnvhc4AC8brEUQgWbBu8dwe43dF50A==" />
    <add name="AzureJobsData" connectionString="DefaultEndpointsProtocol=https;AccountName=polarconverter;AccountKey=XnzAyltGDnh1xCSU313nINUx3+9UJcSP6OrHup74HFCTmQ8pqkP41YNOpnvhc4AC8brEUQgWbBu8dwe43dF50A==" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>