@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?63131983');
  src: url('../font/fontello.eot?63131983#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?63131983') format('woff'),
       url('../font/fontello.ttf?63131983') format('truetype'),
       url('../font/fontello.svg?63131983#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?63131983#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail:before { content: '\e800'; } /* '' */
.icon-mail-alt:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-minus:before { content: '\e806'; } /* '' */
.icon-help:before { content: '\e807'; } /* '' */
.icon-help-circled:before { content: '\e808'; } /* '' */
.icon-info-circled:before { content: '\e809'; } /* '' */
.icon-info:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\e80b'; } /* '' */
.icon-link:before { content: '\e80c'; } /* '' */
.icon-attach:before { content: '\e80d'; } /* '' */
.icon-lock:before { content: '\e80e'; } /* '' */
.icon-lock-open:before { content: '\e80f'; } /* '' */
.icon-download:before { content: '\e810'; } /* '' */
.icon-upload:before { content: '\e811'; } /* '' */
.icon-pencil:before { content: '\e812'; } /* '' */
.icon-comment:before { content: '\e813'; } /* '' */
.icon-comment-empty:before { content: '\e814'; } /* '' */
.icon-attention-alt:before { content: '\e815'; } /* '' */
.icon-attention:before { content: '\e816'; } /* '' */
.icon-trash:before { content: '\e817'; } /* '' */
.icon-doc:before { content: '\e818'; } /* '' */
.icon-cog:before { content: '\e819'; } /* '' */
.icon-wrench:before { content: '\e81a'; } /* '' */
.icon-calendar:before { content: '\e81b'; } /* '' */
.icon-right-big:before { content: '\e81c'; } /* '' */
.icon-left-big:before { content: '\e81d'; } /* '' */
.icon-down-big:before { content: '\e81e'; } /* '' */
.icon-up-big:before { content: '\e81f'; } /* '' */
.icon-dropbox:before { content: '\e820'; } /* '' */
.icon-facebook:before { content: '\e821'; } /* '' */
.icon-facebook-squared:before { content: '\e822'; } /* '' */
.icon-foursquare:before { content: '\e823'; } /* '' */
.icon-instagramm:before { content: '\e824'; } /* '' */
.icon-twitter-squared:before { content: '\e825'; } /* '' */
.icon-twitter:before { content: '\e826'; } /* '' */
.icon-gplus:before { content: '\e827'; } /* '' */
.icon-gplus-squared:before { content: '\e828'; } /* '' */
.icon-print:before { content: '\e829'; } /* '' */
.icon-cw:before { content: '\e82a'; } /* '' */
.icon-arrows-cw:before { content: '\e82b'; } /* '' */
.icon-award:before { content: '\e82c'; } /* '' */
.icon-paypal:before { content: '\e82d'; } /* '' */
.icon-paypal-1:before { content: '\e82e'; } /* '' */