@{
    ViewBag.Title = "Donate";
}

<div class="infobox">
    <h2>So you want to say thank you?</h2>
    <p>
        This is a project that a single developer (<a href="http://no.linkedin.com/in/arnsteinjohansen/" target="_blank">me</a>) has spent countless hours perfecting on his spare time.
        As the project reached the masses, new demands for support for different watches, extra features, old versions and different formats has flooded my inbox.
    </p>
    <p>
        As this sites popularity increases so does the demands on the bandwidth, I hope to gather enough donations to move to a good steady paid site.
        So a donation through paypal is much appreciated :)
    </p>
    @Html.Partial("_Donate2")
</div>