@using PolarConverter.JSWeb.Models
@using PolarConverter.DAL.Models
@model PolarConverter.JSWeb.ViewModels.UserViewModel
@{
    ViewBag.Title = "PolarConverter";
}
<div data-ng-controller="userfilesCtrl as ufc">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Filename</th>
                <th>Download</th>
                <th>Export</th>
            </tr>
        </thead>
        <tr data-ng-repeat="file in ufc.fileList">
            <td>{{ $index + 1 }}</td>
            <td>{{ file.name }}</td>
            <td><a data-ng-href="@ViewData["BlobPath"]{{ file.reference }}">Zip</a></td>
            <td>
                @if (Model.RegisteredProviders.Any(p => p == ProviderType.Strava))
                {
                    <a data-ng-click="ufc.exportToStrava(file)" href="#" title="Export to Strava"><img class="strava-logo" src="../../Content/strava_logo_sm.png" alt="" /></a>
                }
                @if (Model.RegisteredProviders.Any(p => p == ProviderType.Runkeeper))
                {
                    <a data-ng-click="ufc.exportToRunkeeper(file)" href="#" title="Export to Runkeeper"><img class="runkeeper-logo" src="../../Content/runkeeper_sm.png" alt="" /></a>
                }
            </td>
        </tr>
    </table>
</div>