@model PolarConverter.JSWeb.Models.ApplicationUser
@{
    ViewBag.Title = "Services";
}

<h2>Services</h2>
<h6>Connect to Strava</h6>
@using (Html.BeginForm("ConnectToStrava", "Services", FormMethod.Post, new {}))
{
    <button type="submit">Connect</button>    
}

@using (Html.BeginForm("GetUserData", "Services", FormMethod.Get, new { }))
{
    <button type="submit">Get user data</button>
}
