@{
    ViewBag.Title = "Services";
    Layout = "_Layout";
}

<h2>Services</h2>
<h6>Connect to Strava</h6>
@Html.BeginForm("ConnectToStrava", "Services")
    
<button type="submit">Connect</button>
</form>
