@{
    ViewBag.Title = "UserProfile";
}
<div data-ng-controller="userProfileCtrl as up">
    <div class="row" style="padding-top: 45px">
        <div class="col-md-12">
            <div class="well">
                <form class="form-horizontal" name="up.userProfileForm" novalidate="">
                    <legend>User profile</legend>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="inputWeight">Weight</label>
                        <div class="col-lg-10">
                            <input type="number" step="0.1" min="1" max="600" value="" id="inputWeight" data-ng-model="up.userViewModel.weight" required />
                            <label>
                                <input type="radio" value="kg" data-ng-model="up.userViewModel.weightMode" required />&nbsp;Kg
                            </label>
                            <label>
                                <input type="radio" value="lbs" data-ng-model="up.userViewModel.weightMode" required />&nbsp;Lbs
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="inputAge">Age</label>
                        <div class="col-lg-10"><input type="number" value="" id="inputAge" min="1" max="130" step="1" data-ng-model="up.userViewModel.age" required /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Gender</label>
                        <div class="col-lg-10">
                            <label>
                                <input type="radio" value="m" data-ng-model="up.userViewModel.gender" required />&nbsp;Male
                            </label>
                            <label>
                                <input type="radio" value="f" data-ng-model="up.userViewModel.gender" required />&nbsp;Female
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="inputTimeZone">
                            Timezone
                        </label>
                        <div class="col-lg-10">
                            <select data-ng-model="up.selectedTimeZone" id="inputTimeZone" class="form-control" data-ng-options="tz.text for tz in uc.timeZones" required></select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="inputForceGarmin">
                            Force Garmin device
                        </label>
                        <div class="col-lg-10"><input type="checkbox" data-ng-model="up.userViewModel.forceGarmin" id="inputForceGarmin" /></div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <a class="btn btn-default btn-lg" data-ng-click="uc.cancel()">Cancel</a>
                            <a class="btn btn-primary btn-lg" data-ng-click="uc.saveChanges()" data-ng-disabled="up.isSaving || up.userProfileForm.$invalid">Save</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
