<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://polarconverter.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <publishUrl>ftp://waws-prod-db3-001.ftp.azurewebsites.windows.net/site/wwwroot</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <UserName>polarconverter\$polarconverter</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/Antlr3.Runtime.dll">
      <publishTime>06/28/2012 23:52:43</publishTime>
    </File>
    <File Include="bin/AppfailReporting.dll">
      <publishTime>07/08/2012 23:02:25</publishTime>
    </File>
    <File Include="bin/AppfailReporting.Mvc.dll">
      <publishTime>07/08/2012 23:02:25</publishTime>
    </File>
    <File Include="bin/CodeScales.Http.dll">
      <publishTime>02/07/2012 10:56:32</publishTime>
    </File>
    <File Include="bin/Common.Logging.dll">
      <publishTime>06/27/2012 13:34:10</publishTime>
    </File>
    <File Include="bin/Elmah.dll">
      <publishTime>06/26/2012 11:01:04</publishTime>
    </File>
    <File Include="bin/Elmah.Mvc.dll">
      <publishTime>06/26/2012 11:01:05</publishTime>
    </File>
    <File Include="bin/Ionic.Zip.dll">
      <publishTime>06/22/2012 14:10:45</publishTime>
    </File>
    <File Include="bin/Ionic.Zip.xml">
      <publishTime>06/22/2012 14:10:45</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>06/19/2012 14:46:06</publishTime>
    </File>
    <File Include="bin/Microsoft.WindowsAzure.Configuration.dll">
      <publishTime>06/24/2012 19:47:32</publishTime>
    </File>
    <File Include="bin/Microsoft.WindowsAzure.Diagnostics.dll">
      <publishTime>02/06/2012 17:54:10</publishTime>
    </File>
    <File Include="bin/Microsoft.WindowsAzure.Diagnostics.xml">
      <publishTime>02/06/2012 17:11:28</publishTime>
    </File>
    <File Include="bin/Microsoft.WindowsAzure.StorageClient.dll">
      <publishTime>06/24/2012 19:47:32</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.dll">
      <publishTime>06/19/2012 14:46:06</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.xml">
      <publishTime>06/19/2012 14:46:06</publishTime>
    </File>
    <File Include="bin/PolarConverter.BLL.dll">
      <publishTime>08/07/2012 21:53:46</publishTime>
    </File>
    <File Include="bin/PolarConverter.MVC.dll">
      <publishTime>07/09/2012 00:23:46</publishTime>
    </File>
    <File Include="bin/SendGridMail.dll">
      <publishTime>02/07/2012 10:56:32</publishTime>
    </File>
    <File Include="bin/Spring.Rest.dll">
      <publishTime>06/24/2012 17:33:35</publishTime>
    </File>
    <File Include="bin/Spring.Rest.xml">
      <publishTime>06/24/2012 17:33:35</publishTime>
    </File>
    <File Include="bin/Spring.Social.Core.dll">
      <publishTime>06/24/2012 17:33:36</publishTime>
    </File>
    <File Include="bin/Spring.Social.Core.xml">
      <publishTime>06/24/2012 17:33:36</publishTime>
    </File>
    <File Include="bin/Spring.Social.Dropbox.dll">
      <publishTime>06/24/2012 17:33:36</publishTime>
    </File>
    <File Include="bin/Spring.Social.Dropbox.xml">
      <publishTime>06/24/2012 17:33:36</publishTime>
    </File>
    <File Include="bin/System.Net.Http.dll">
      <publishTime>06/19/2012 14:46:17</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.dll">
      <publishTime>06/19/2012 14:46:16</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.xml">
      <publishTime>06/19/2012 14:46:16</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.dll">
      <publishTime>06/19/2012 14:46:17</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.xml">
      <publishTime>06/19/2012 14:46:17</publishTime>
    </File>
    <File Include="bin/System.Net.Http.xml">
      <publishTime>06/19/2012 14:46:17</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>06/19/2012 14:46:16</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.xml">
      <publishTime>06/19/2012 14:46:16</publishTime>
    </File>
    <File Include="bin/System.Web.Http.dll">
      <publishTime>06/19/2012 14:46:17</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.dll">
      <publishTime>06/19/2012 14:46:17</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.xml">
      <publishTime>06/19/2012 14:46:17</publishTime>
    </File>
    <File Include="bin/System.Web.Http.xml">
      <publishTime>06/19/2012 14:46:17</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>06/19/2012 14:46:16</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.xml">
      <publishTime>06/19/2012 14:46:16</publishTime>
    </File>
    <File Include="bin/System.Web.Optimization.dll">
      <publishTime>06/28/2012 23:52:43</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>06/19/2012 14:46:16</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.xml">
      <publishTime>06/19/2012 14:46:16</publishTime>
    </File>
    <File Include="bin/System.Web.Silverlight.dll">
      <publishTime>08/10/2008 15:49:38</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>06/19/2012 14:46:16</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.xml">
      <publishTime>06/19/2012 14:46:16</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>06/19/2012 14:46:16</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>06/19/2012 14:46:16</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.xml">
      <publishTime>06/19/2012 14:46:16</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.xml">
      <publishTime>06/19/2012 14:46:16</publishTime>
    </File>
    <File Include="bin/WebActivator.dll">
      <publishTime>06/26/2012 11:01:05</publishTime>
    </File>
    <File Include="bin/WebGrease.dll">
      <publishTime>06/28/2012 23:52:43</publishTime>
    </File>
    <File Include="ClientBin/mpost.SilverlightMultiFileUpload.Lite.xap">
      <publishTime>06/19/2012 23:38:19</publishTime>
    </File>
    <File Include="ClientBin/mpost.SilverlightMultiFileUpload.Progress.xap">
      <publishTime>06/19/2012 23:38:19</publishTime>
    </File>
    <File Include="ClientBin/mpost.SilverlightMultiFileUpload.xap">
      <publishTime>06/19/2012 23:38:19</publishTime>
    </File>
    <File Include="ClientBin/mpost.SilverlightSingleFileUpload.xap">
      <publishTime>06/19/2012 23:38:19</publishTime>
    </File>
    <File Include="Content/app.css.bundle">
      <publishTime>04/07/2012 17:24:10</publishTime>
    </File>
    <File Include="Content/Fotolia_34341312_M.jpg">
      <publishTime>06/19/2012 15:11:49</publishTime>
    </File>
    <File Include="Content/Images/DropboxLogo_liten.png">
      <publishTime>06/24/2012 17:40:55</publishTime>
    </File>
    <File Include="Content/Images/Fotolia_34341312_M.jpg">
      <publishTime>06/19/2012 15:01:20</publishTime>
    </File>
    <File Include="Content/Images/transp50.png">
      <publishTime>06/29/2012 13:26:42</publishTime>
    </File>
    <File Include="Content/Images/transp50Sort.png">
      <publishTime>06/29/2012 13:36:16</publishTime>
    </File>
    <File Include="Content/Images/ui-bg_diagonals-thick_75_f3d8d8_40x40.png">
      <publishTime>06/29/2012 06:04:52</publishTime>
    </File>
    <File Include="Content/Images/ui-bg_dots-small_100_a6a6a6_2x2.png">
      <publishTime>06/29/2012 06:04:56</publishTime>
    </File>
    <File Include="Content/Images/ui-bg_flat_0_333333_40x100.png">
      <publishTime>06/29/2012 06:04:58</publishTime>
    </File>
    <File Include="Content/normalize.css">
      <publishTime>06/25/2012 00:09:59</publishTime>
    </File>
    <File Include="Content/Style.css">
      <publishTime>08/07/2012 11:35:17</publishTime>
    </File>
    <File Include="Content/Style.scss">
      <publishTime>08/07/2012 11:35:16</publishTime>
    </File>
    <File Include="Content/themes/base/images/transp050Sort.png">
      <publishTime>04/07/2012 16:53:16</publishTime>
    </File>
    <File Include="Content/themes/base/images/transp50Sort.png">
      <publishTime>04/07/2012 16:53:16</publishTime>
    </File>
    <File Include="Content/themes/base/images/transp75Sort.png">
      <publishTime>04/07/2012 16:53:16</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>06/29/2012 12:56:40</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>06/29/2012 12:56:40</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>06/29/2012 12:56:40</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>06/29/2012 12:56:40</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>06/29/2012 12:56:40</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>06/29/2012 12:56:40</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>06/29/2012 12:56:39</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>06/29/2012 12:56:39</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <publishTime>06/29/2012 12:56:39</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <publishTime>06/29/2012 12:56:39</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <publishTime>06/29/2012 12:56:39</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <publishTime>06/29/2012 12:56:39</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>06/29/2012 12:56:39</publishTime>
    </File>
    <File Include="Content/themes/base/jquery-ui.css">
      <publishTime>06/29/2012 12:56:38</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <publishTime>04/07/2012 16:52:58</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <publishTime>04/07/2012 16:52:58</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <publishTime>04/07/2012 16:52:58</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <publishTime>04/07/2012 16:52:58</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <publishTime>04/07/2012 16:52:58</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <publishTime>04/07/2012 16:52:58</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <publishTime>04/07/2012 16:52:58</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <publishTime>04/07/2012 22:42:51</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <publishTime>04/07/2012 16:52:58</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <publishTime>04/07/2012 16:52:58</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <publishTime>04/07/2012 16:52:58</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <publishTime>04/07/2012 16:52:58</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <publishTime>04/07/2012 16:52:58</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <publishTime>04/07/2012 22:40:01</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>06/29/2012 12:56:38</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>06/29/2012 12:56:38</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>06/29/2012 12:56:38</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>06/29/2012 12:56:38</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>06/29/2012 12:56:38</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>06/29/2012 12:56:38</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>06/29/2012 12:56:38</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>06/29/2012 12:56:38</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_222222_256x240.png">
      <publishTime>06/29/2012 12:56:37</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_2e83ff_256x240.png">
      <publishTime>06/29/2012 12:56:37</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_454545_256x240.png">
      <publishTime>06/29/2012 12:56:37</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_888888_256x240.png">
      <publishTime>06/29/2012 12:56:37</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>06/29/2012 12:56:37</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery-ui.min.css">
      <publishTime>06/29/2012 12:56:34</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.accordion.min.css">
      <publishTime>06/29/2012 12:56:37</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.autocomplete.min.css">
      <publishTime>06/29/2012 12:56:37</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.button.min.css">
      <publishTime>06/29/2012 12:56:37</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.core.min.css">
      <publishTime>06/29/2012 12:56:37</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.datepicker.min.css">
      <publishTime>06/29/2012 12:56:36</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.dialog.min.css">
      <publishTime>06/29/2012 12:56:36</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.progressbar.min.css">
      <publishTime>06/29/2012 12:56:36</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.resizable.min.css">
      <publishTime>06/29/2012 12:56:36</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.selectable.min.css">
      <publishTime>06/29/2012 12:56:35</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.slider.min.css">
      <publishTime>06/29/2012 12:56:35</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.tabs.min.css">
      <publishTime>06/29/2012 12:56:35</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.theme.min.css">
      <publishTime>06/29/2012 12:56:35</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/images/ui-bg_diagonals-thick_75_f3d8d8_40x40.png">
      <publishTime>06/29/2012 06:04:52</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/images/ui-bg_dots-small_100_a6a6a6_2x2.png">
      <publishTime>06/29/2012 06:04:56</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/images/ui-bg_flat_0_333333_40x100.png">
      <publishTime>06/29/2012 06:04:58</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/images/ui-bg_flat_65_ffffff_40x100.png">
      <publishTime>06/29/2012 06:04:52</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>06/29/2012 06:04:52</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/images/ui-bg_glass_55_fbf8ee_1x400.png">
      <publishTime>06/29/2012 06:04:52</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/images/ui-bg_highlight-hard_100_eeeeee_1x100.png">
      <publishTime>06/29/2012 06:04:52</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/images/ui-bg_highlight-hard_100_f6f6f6_1x100.png">
      <publishTime>06/29/2012 06:04:52</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/images/ui-bg_highlight-soft_0_ee3a43_1x100.png">
      <publishTime>06/29/2012 06:04:52</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/images/ui-icons_004276_256x240.png">
      <publishTime>06/29/2012 06:04:56</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/images/ui-icons_ee3a43_256x240.png">
      <publishTime>06/29/2012 06:04:54</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/images/ui-icons_ffffff_256x240.png">
      <publishTime>06/29/2012 06:04:54</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/jquery-ui-1.8.21.custom.css">
      <publishTime>06/29/2012 06:04:58</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/jquery.ui.accordion.css">
      <publishTime>06/29/2012 06:04:58</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/jquery.ui.all.css">
      <publishTime>06/29/2012 06:04:58</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/jquery.ui.autocomplete.css">
      <publishTime>06/29/2012 06:04:58</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/jquery.ui.base.css">
      <publishTime>06/29/2012 06:04:52</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/jquery.ui.button.css">
      <publishTime>06/29/2012 06:04:58</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/jquery.ui.core.css">
      <publishTime>06/29/2012 06:04:58</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/jquery.ui.datepicker.css">
      <publishTime>06/29/2012 06:04:58</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/jquery.ui.dialog.css">
      <publishTime>06/29/2012 06:04:58</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/jquery.ui.progressbar.css">
      <publishTime>06/29/2012 06:04:58</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/jquery.ui.resizable.css">
      <publishTime>06/29/2012 06:04:58</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/jquery.ui.selectable.css">
      <publishTime>06/29/2012 06:04:58</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/jquery.ui.slider.css">
      <publishTime>06/29/2012 06:04:58</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/jquery.ui.tabs.css">
      <publishTime>06/29/2012 06:04:58</publishTime>
    </File>
    <File Include="Content/themes/custom-theme/jquery.ui.theme.css">
      <publishTime>06/29/2012 06:04:58</publishTime>
    </File>
    <File Include="Content/themes/jquery-ui-1.8.21.custom.css">
      <publishTime>06/29/2012 06:04:58</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>06/19/2012 14:45:57</publishTime>
    </File>
    <File Include="HttpUploadHandler.ashx">
      <publishTime>06/19/2012 23:38:19</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>07/08/2012 23:02:26</publishTime>
    </File>
    <File Include="README.txt">
      <publishTime>01/07/2012 14:14:16</publishTime>
    </File>
    <File Include="scripts/i18n/cs.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/da.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/de.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/el.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/es.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/et.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/fa.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/fi.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/fr-ca.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/fr.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/hr.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/hu.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/it.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/ja.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/ko.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/lv.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/nl.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/pl.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/pt-br.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/ro.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/ru.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/sr.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/i18n/sv.js">
      <publishTime>12/04/2012 23:32:58</publishTime>
    </File>
    <File Include="scripts/jquery-1.7.2.js">
      <publishTime>06/19/2012 19:53:16</publishTime>
    </File>
    <File Include="scripts/jquery-1.7.2.min.js">
      <publishTime>06/19/2012 19:53:16</publishTime>
    </File>
    <File Include="scripts/jquery-ui-1.8.20.js">
      <publishTime>06/29/2012 12:56:34</publishTime>
    </File>
    <File Include="scripts/jquery-ui-1.8.20.min.js">
      <publishTime>01/07/2012 14:20:42</publishTime>
    </File>
    <File Include="scripts/jquery.plupload.queue/css/jquery.plupload.queue.css">
      <publishTime>06/29/2012 13:13:09</publishTime>
    </File>
    <File Include="scripts/jquery.plupload.queue/img/backgrounds.gif">
      <publishTime>12/04/2012 23:32:44</publishTime>
    </File>
    <File Include="scripts/jquery.plupload.queue/img/buttons-disabled.png">
      <publishTime>12/04/2012 23:32:48</publishTime>
    </File>
    <File Include="scripts/jquery.plupload.queue/img/buttons.png">
      <publishTime>12/04/2012 23:32:14</publishTime>
    </File>
    <File Include="scripts/jquery.plupload.queue/img/delete.gif">
      <publishTime>12/04/2012 23:32:48</publishTime>
    </File>
    <File Include="scripts/jquery.plupload.queue/img/done.gif">
      <publishTime>12/04/2012 23:32:20</publishTime>
    </File>
    <File Include="scripts/jquery.plupload.queue/img/error.gif">
      <publishTime>12/04/2012 23:32:42</publishTime>
    </File>
    <File Include="scripts/jquery.plupload.queue/img/throbber.gif">
      <publishTime>12/04/2012 23:32:44</publishTime>
    </File>
    <File Include="scripts/jquery.plupload.queue/img/transp50.png">
      <publishTime>12/04/2012 23:32:40</publishTime>
    </File>
    <File Include="scripts/jquery.plupload.queue/jquery.plupload.queue.js">
      <publishTime>12/04/2012 23:32:14</publishTime>
    </File>
    <File Include="scripts/jquery.ui.plupload/css/jquery.ui.plupload.css">
      <publishTime>12/04/2012 23:32:40</publishTime>
    </File>
    <File Include="scripts/jquery.ui.plupload/img/plupload-bw.png">
      <publishTime>12/04/2012 23:32:18</publishTime>
    </File>
    <File Include="scripts/jquery.ui.plupload/img/plupload.png">
      <publishTime>12/04/2012 23:32:46</publishTime>
    </File>
    <File Include="scripts/jquery.ui.plupload/jquery.ui.plupload.js">
      <publishTime>06/25/2012 10:54:14</publishTime>
    </File>
    <File Include="scripts/knockout-2.1.0.debug.js">
      <publishTime>01/07/2012 13:44:16</publishTime>
    </File>
    <File Include="scripts/knockout-2.1.0.js">
      <publishTime>01/07/2012 13:44:16</publishTime>
    </File>
    <File Include="scripts/knockout.localStorage.js">
      <publishTime>02/07/2012 23:29:14</publishTime>
    </File>
    <File Include="scripts/modernizr-2.5.3.js">
      <publishTime>06/28/2012 10:09:08</publishTime>
    </File>
    <File Include="scripts/plupload.browserplus.js">
      <publishTime>06/19/2012 23:31:21</publishTime>
    </File>
    <File Include="scripts/plupload.flash.js">
      <publishTime>06/19/2012 23:31:21</publishTime>
    </File>
    <File Include="scripts/plupload.flash.swf">
      <publishTime>06/19/2012 23:31:21</publishTime>
    </File>
    <File Include="scripts/plupload.full.js">
      <publishTime>06/19/2012 23:31:21</publishTime>
    </File>
    <File Include="scripts/plupload.gears.js">
      <publishTime>06/19/2012 23:31:21</publishTime>
    </File>
    <File Include="scripts/plupload.html4.js">
      <publishTime>06/19/2012 23:31:21</publishTime>
    </File>
    <File Include="scripts/plupload.html5.js">
      <publishTime>06/19/2012 23:31:21</publishTime>
    </File>
    <File Include="scripts/plupload.js">
      <publishTime>06/19/2012 23:31:22</publishTime>
    </File>
    <File Include="scripts/plupload.silverlight.js">
      <publishTime>06/19/2012 23:31:22</publishTime>
    </File>
    <File Include="scripts/plupload.silverlight.xap">
      <publishTime>06/19/2012 23:31:22</publishTime>
    </File>
    <File Include="scripts/polarconverter.js">
      <publishTime>07/09/2012 00:21:32</publishTime>
    </File>
    <File Include="scripts/toDictionary.js">
      <publishTime>06/29/2012 10:49:32</publishTime>
    </File>
    <File Include="scripts/viewModel.js">
      <publishTime>02/07/2012 13:13:25</publishTime>
    </File>
    <File Include="Views/Home/Error.cshtml">
      <publishTime>07/08/2012 23:27:20</publishTime>
    </File>
    <File Include="Views/Home/Fotolia_34341312_M.jpg">
      <publishTime>06/19/2012 15:17:23</publishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <publishTime>08/07/2012 21:18:31</publishTime>
    </File>
    <File Include="Views/Home/SendGrid.cshtml">
      <publishTime>02/07/2012 11:55:34</publishTime>
    </File>
    <File Include="Views/Home/_HentDialog.cshtml">
      <publishTime>04/07/2012 16:55:32</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/Enum_RadioButtonList.cshtml">
      <publishTime>06/29/2012 23:44:10</publishTime>
    </File>
    <File Include="Views/Shared/Fotolia_34341312_M.jpg">
      <publishTime>06/19/2012 15:15:24</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>08/07/2012 21:17:19</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>07/02/2012 22:48:10</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>06/19/2012 14:54:09</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>07/08/2012 23:07:54</publishTime>
    </File>
  </ItemGroup>
</Project>